.post-header__container
  display: flex

.comment
  display: flex
  flex-direction: column
  border: 2px solid
  font-size: 14px

.comment-number
  width: 10%
  align-items: center
  justify-content: center

.comment-container
  width: 100%