.post
  width: 90%
  display: flex
  flex-direction: column
  border: 2px solid
  padding: 5px
  background: #b6a4a4
  margin: 10px auto

  > div
    border: 1px solid
    display: flex
    > p
      margin-left: 5px
      font-size: 16px

.post-info



.post-info__author
  width: 50%


.post-info__date
  width: 50%



.post-title



.post-title__text

.post-content

.post-content__text

.post-comments__title
  width: 15%

.post-comments__content
  width: 70%

.post-comments__button-container
  width: 15%
  display: flex
  justify-content: center




.comment
  display: flex
  flex-direction: row
  border: 2px solid

.comment-number
  width: 10%
  display: flex
  align-items: center
  justify-content: center
  border: 2px solid

.comment-container
  width: 90%