.blog
  border: 2px solid
  background: cornsilk
  display: flex
  flex-direction: column

.blog__head
  font-size: 52px
  text-align: center


.blog__container
  display: flex


.blog__container > div
  border: 2px solid


