.blog
  border: 2px solid
  background: url('background.png')
  background-size: contain
  display: flex
  flex-direction: column


.blog__head
  font-size: 52px
  text-align: center


.blog__container
  display: flex


.blog__container > div
  border: 7px solid


.blog__button
  border-radius: 5px
  color: darkturquoise
  background-color: #2b2020
  border: 2px gold solid
  font: 20px Roboto
  transition: 0.3s

  &:hover
    transition: 0.3s
    background-color: #555555

