.blog
  border: 2px solid
  display: flex
  flex-direction: column

.blog__head
  font-size: 52px
  text-align: center
  color: aliceblue
  background: linear-gradient(#2c557e, #1565c0)
  position: relative

.blog__container
  display: flex
