.done-tasks
  flex-direction: column
  width: 50%



.done-tasks__header
  border: 3px solid black
  text-align: center
  font-size: 36px
  box-sizing: border-box
  background-color: cornflowerblue
  color: white


.done-tasks__container
  height: 100%
  overflow: auto
  display: flex
  flex-direction: column
  align-items: center
