.blog__posts
  width: 100%
  background: #2c557e

.links__sorting-buttons__container
  display: flex
  align-items: center
  >p
    color: white
    display: block
    margin-left: 15px


.links__pagination__container
  margin-left: 20px
  display: flex
  justify-content: end
  >button
    width: 130px
    height: 80px

  > ul
    display: flex

    >li
      list-style: none
      margin-left: 2px

.page-number__container
  display: flex
  align-items: center
  justify-content: center
  width: 60px
  border-radius: 5px
  color: darkturquoise
  background-color: #2b2020
  border: 2px gold solid
  font: 20px Roboto



